<!-- Navbar Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-3 py-2 py-lg-0">
        <a href="index.html" class="navbar-brand p-0">
            <h1 class="m-0"><img src="../assets/img/wlogo.png" /></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a routerLink="" class="nav-item nav-link">Home</a>
                <a routerLink="about" class="nav-item nav-link">About</a>
                <a href="#pricing" class="nav-item nav-link">Services</a>
                <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Blog</a>
                    <div class="dropdown-menu m-0">
                        <a href="blog.html" class="dropdown-item">Blog Grid</a>
                        <a href="detail.html" class="dropdown-item">Blog Detail</a>
                    </div>
                </div> -->
                <a href="#contact" class="nav-item nav-link">Contact</a>
                <a routerLink="samples" class="nav-item nav-link">Samples</a>
                <!-- <div class="login-btn" *ngIf="!user">
                    <li class="nav-item dropdown dropdown-slide dropdown-hover">
                      <a class="nav-link navigation-anchor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        (click)="login()">
                        <span>
                          <i class="fal fa-user-circle" style="font-size:24px"></i>
                        </span>
                      </a>
                    </li>
                  </div>
                  <div *ngIf="user">
                    <li class="nav-item dropdown dropdown-slide dropdown-hover">
                      <a class="nav-link navigation-anchor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>
                          <i class="fal fa-user-circle" style="font-size:24px"></i>
                        </span>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="min-width:6rem">
                        <a routerLink="/user/profile" class="dropdown-item">
                          <i class="fas fa-user" style="margin-right:0;color: #7b7b86;"></i>{{username}}</a>
                        <a routerLink="/user" class="dropdown-item">
                          <i class="fas fa-tachometer-alt-fast" style="margin-right:0;color: #7b7b86;"></i>Dashboard</a>
                        <a class="dropdown-item" (click)="logout()">
                          <i class="fas fa-power-off" style="margin-right:0;color: #7b7b86;"></i>Log Out</a>
                      </div>
                  </div> -->
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->