<!-- Banner Start -->
<div class="bg-success bg-header">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">About Us</h1>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- About Start -->
<div class="container-fluid wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-success text-uppercase">About Us</h5>
                    <h1 class="mb-0">Who We Are?
                    </h1>
                </div>
                <p class="mb-4">Founded in 2012, Career Scripters Writers Network connects people and jobs through
                    interview-winning resumes. We take tremendous pride in making a positive impact on the global career
                    coaching
                    industry. Every day, we aim to help struggling professionals on a larger scale to secure their
                    desired job.
                    Our team of expert writers will rework your resume, cover letter, LinkedIn profile, and more to help
                    you
                    redefine your professional image. So far, we’ve helped thousands of job seekers across every
                    industry and
                    experience level. We can help you too!</p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-success me-3"></i>Award Winning</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-success me-3"></i>Professional Staff</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-success me-3"></i>24/7 Support</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-success me-3"></i>Fair Prices</h5>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="bg-success d-flex align-items-center justify-content-center rounded"
                        style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-success mb-0">+92 301 9709113</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s"
                        src="../../assets/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
        <!-- About End -->
    </div>
</div>
<section id="faqs">
    <div id="layout-wrapper" class="row">

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content" style="margin-left:0">

            <div class="page-content">
                <div class="mt-5">

                    <div class="checkout-tabs">
                        <div class="row">
                            <div class="faq_category_options_desktop col-sm-3 col-md-3 col-lg-2">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-gen-ques-tab" data-bs-toggle="pill"
                                        href="#v-pills-gen-ques" role="tab" aria-controls="v-pills-gen-ques"
                                        aria-selected="true">
                                        <i class="fas fa-question d-block check-nav-icon mt-4 mb-2"></i>
                                        <p class="fw-bold mb-4">About Career Scripters</p>
                                    </a>
                                    <a class="nav-link" id="v-pills-privacy-tab" data-bs-toggle="pill"
                                        href="#v-pills-privacy" role="tab" aria-controls="v-pills-privacy"
                                        aria-selected="false">
                                        <i class="fas fa-hand-holding-box d-block check-nav-icon mt-4 mb-2"></i>
                                        <p class="fw-bold mb-4">Our Services</p>
                                    </a>
                                    <a class="nav-link" id="v-pills-support-tab" data-bs-toggle="pill"
                                        href="#v-pills-support" role="tab" aria-controls="v-pills-support"
                                        aria-selected="false">
                                        <i class="fas fa-user-headset d-block check-nav-icon mt-4 mb-2"></i>
                                        <p class="fw-bold mb-4">Customer Support</p>
                                    </a>
                                </div>
                            </div>
                            <div class="faq_category_options_mobile mb-4">
                                <div class="nav nav-pills row" id="v-pills-tab" role="tablist">
                                    <a class="nav-link active col-4" id="v-pills-gen-ques-tab" data-bs-toggle="pill"
                                        href="#v-pills-gen-ques" role="tab" aria-controls="v-pills-gen-ques"
                                        aria-selected="true">
                                        <i class="fas fa-question d-block check-nav-icon mt-2 mb-2"></i>
                                        <p class="fw-bold">About US</p>
                                    </a>
                                    <a class="nav-link col col-4" id="v-pills-privacy-tab" data-bs-toggle="pill"
                                        href="#v-pills-privacy" role="tab" aria-controls="v-pills-privacy"
                                        aria-selected="false" style="line-height:3">
                                        <i class="fas fa-hand-holding-box d-block check-nav-icon mt-2 mb-2"></i>
                                        <p class="fw-bold">Services</p>
                                    </a>
                                    <a class="nav-link col col-4" id="v-pills-support-tab" data-bs-toggle="pill"
                                        href="#v-pills-support" role="tab" aria-controls="v-pills-support"
                                        aria-selected="false" style="line-height:3">
                                        <i class="fas fa-user-headset d-block check-nav-icon mt-2 mb-2"></i>
                                        <p class="fw-bold">Support</p>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-9 col-md-9 col-lg-10">
                                <div>
                                    <div>
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade show active" id="v-pills-gen-ques" role="tabpanel"
                                                aria-labelledby="v-pills-gen-ques-tab">
                                                <h4 class="card-title">About Career Scripters</h4>
                                                <div class="faq-box d-flex mb-4">
                                                    <div class="flex-shrink-0 me-3 faq-icon">
                                                        <i class="bx bx-help-circle font-size-20 text-success"></i>
                                                    </div>
                                                </div>
                                                <div class="panel-group" id="accordion">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#accordion"
                                                                    data-bs-target="#collapse1">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    How do
                                                                    I order
                                                                    my resume?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="collapse1" class="panel-collapse collapse in">
                                                            <div class="panel-body">To order, you will need to
                                                                provide your
                                                                billing and contact
                                                                information.
                                                                Then, choose the best-suited package for you.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#accordion"
                                                                    data-bs-target="#collapse2">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    Why
                                                                    should I
                                                                    get my resume
                                                                    written?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="collapse2" class="panel-collapse collapse">
                                                            <div class="panel-body">Your resume has to appeal to
                                                                both the
                                                                resume scanning
                                                                software
                                                                (ATS) and the hiring manager, so, working with a
                                                                professional resume writer
                                                                ensures your resume will not be passed over by
                                                                applicant
                                                                tracking software.
                                                                It also makes you more valuable in the eyes of
                                                                recruiters.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#accordion"
                                                                    data-bs-target="#collapse3">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    What
                                                                    kind of
                                                                    industries do you
                                                                    specialize in?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="collapse3" class="panel-collapse collapse">
                                                            <div class="panel-body">Nearly all of them! We have
                                                                a
                                                                team of
                                                                qualified experts with
                                                                experience across IT, Finance, Business
                                                                Development,
                                                                Marketing, Nursing,
                                                                Healthcare, Education, Computer Engineering, Law
                                                                Enforcement, Construction,
                                                                and more from small start-ups to Fortune 500s.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#accordion"
                                                                    data-bs-target="#collapse4">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    How do
                                                                    I order
                                                                    my resume?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="collapse4" class="panel-collapse collapse in">
                                                            <div class="panel-body">To order, you will need to
                                                                provide your
                                                                billing and contact
                                                                information.
                                                                Then, choose the best-suited package for you.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#accordion"
                                                                    data-bs-target="#collapse5">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    Why
                                                                    should I
                                                                    get my resume
                                                                    written?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="collapse5" class="panel-collapse collapse">
                                                            <div class="panel-body">Your resume has to appeal to
                                                                both the
                                                                resume scanning
                                                                software
                                                                (ATS) and the hiring manager, so, working with a
                                                                professional resume writer
                                                                ensures your resume will not be passed over by
                                                                applicant
                                                                tracking software.
                                                                It also makes you more valuable in the eyes of
                                                                recruiters.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#accordion"
                                                                    data-bs-target="#collapse6">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    What
                                                                    kind of
                                                                    industries do you
                                                                    specialize in?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="collapse6" class="panel-collapse collapse">
                                                            <div class="panel-body">Nearly all of them! We have
                                                                a
                                                                team of
                                                                qualified experts with
                                                                experience across IT, Finance, Business
                                                                Development,
                                                                Marketing, Nursing,
                                                                Healthcare, Education, Computer Engineering, Law
                                                                Enforcement, Construction,
                                                                and more from small start-ups to Fortune 500s.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-privacy" role="tabpanel"
                                                aria-labelledby="v-pills-privacy-tab">
                                                <h4 class="card-title">Our Services</h4>
                                                <div class="panel-group" id="services">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#services"
                                                                    data-bs-target="#service1">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span> Do
                                                                    you
                                                                    tailor resumes and cover
                                                                    letters to specific jobs?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="service1" class="panel-collapse collapse in">
                                                            <div class="panel-body">Yes, we sure do! We consider
                                                                ourselves to be quite versatile
                                                                with creating resumes and cover letters that
                                                                resonate with specific jobs of
                                                                interest. We can also create general ones upon
                                                                your
                                                                request.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#services"
                                                                    data-bs-target="#service2">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    What
                                                                    resume templates do you
                                                                    offer?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="service2" class="panel-collapse collapse">
                                                            <div class="panel-body">We offer a variety of
                                                                templates,
                                                                which are tested and
                                                                proven to immediately capture the attention of
                                                                employers. They range
                                                                from simple, traditional to fancy-style ones
                                                                with a
                                                                modern appeal that pass ATS.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#services"
                                                                    data-bs-target="#service3">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    How
                                                                    soon can I get my order done?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="service3" class="panel-collapse collapse">
                                                            <div class="panel-body">Effective resumes and cover
                                                                letters require extensive
                                                                research of the specific industry and job
                                                                position
                                                                you're applying to.
                                                                Our turnaround time is usually between 2-4 days,
                                                                depending on the
                                                                current state of your resume and your
                                                                requirements.
                                                                However, we do
                                                                offer same day delivery at an extra cost.
                                                            </div>
                                                        </div>
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#services"
                                                                    data-bs-target="#service4">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span> Do
                                                                    you
                                                                    tailor resumes and cover
                                                                    letters to specific jobs?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="service4" class="panel-collapse collapse in">
                                                            <div class="panel-body">Yes, we sure do! We consider
                                                                ourselves to be quite versatile
                                                                with creating resumes and cover letters that
                                                                resonate with specific jobs of
                                                                interest. We can also create general ones upon
                                                                your
                                                                request.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#services"
                                                                    data-bs-target="#service5">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    What
                                                                    resume templates do you
                                                                    offer?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="service5" class="panel-collapse collapse">
                                                            <div class="panel-body">We offer a variety of
                                                                templates,
                                                                which are tested and
                                                                proven to immediately capture the attention of
                                                                employers. They range
                                                                from simple, traditional to fancy-style ones
                                                                with a
                                                                modern appeal that pass ATS.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#services"
                                                                    data-bs-target="#service6">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    How
                                                                    soon can I get my order done?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="service6" class="panel-collapse collapse">
                                                            <div class="panel-body">Effective resumes and cover
                                                                letters require extensive
                                                                research of the specific industry and job
                                                                position
                                                                you're applying to.
                                                                Our turnaround time is usually between 2-4 days,
                                                                depending on the
                                                                current state of your resume and your
                                                                requirements.
                                                                However, we do
                                                                offer same day delivery at an extra cost.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-support" role="tabpanel"
                                                aria-labelledby="v-pills-support-tab">
                                                <h4 class="card-title mb-5">Customer Support</h4>
                                                <div class="panel-group" id="support">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#support"
                                                                    data-bs-target="#support1">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span> Do
                                                                    you
                                                                    accept custom offers?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="support1" class="panel-collapse collapse in">
                                                            <div class="panel-body">We certainly do! If you're
                                                                not
                                                                sure which of my packages is
                                                                right for you or if your request is rather
                                                                complicated, please feel free to
                                                                send us a message. We respond in 24 hours or
                                                                less to
                                                                all customer inquiries.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#support"
                                                                    data-bs-target="#support2">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    Will
                                                                    my personal information be
                                                                    safe?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="support2" class="panel-collapse collapse">
                                                            <div class="panel-body">Yes! We ensure 100% client
                                                                confidentiality. All information
                                                                shared between us will remain secure and will
                                                                never
                                                                be shared.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#support"
                                                                    data-bs-target="#support3">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    How
                                                                    many revisions will you offer?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="support3" class="panel-collapse collapse">
                                                            <div class="panel-body">We offer two rounds of
                                                                revisions. If you are not satisfied
                                                                with the final product, we’ll rewrite your
                                                                resume
                                                                free of charge.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#support"
                                                                    data-bs-target="#support4">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span> Do
                                                                    you
                                                                    accept custom offers?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="support4" class="panel-collapse collapse in">
                                                            <div class="panel-body">We certainly do! If you're
                                                                not
                                                                sure which of my packages is
                                                                right for you or if your request is rather
                                                                complicated, please feel free to
                                                                send us a message. We respond in 24 hours or
                                                                less to
                                                                all customer inquiries.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#support"
                                                                    data-bs-target="#support5">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    Will
                                                                    my personal information be
                                                                    safe?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="support5" class="panel-collapse collapse">
                                                            <div class="panel-body">Yes! We ensure 100% client
                                                                confidentiality. All information
                                                                shared between us will remain secure and will
                                                                never
                                                                be shared.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h2 class="panel-title">
                                                                <a data-bs-toggle="collapse" data-parent="#support"
                                                                    data-bs-target="#support6">
                                                                    <i
                                                                        class="far fa-question-circle font-size-20 text-success"></i>
                                                                    <span class="fa fa-chevron-right"></span>
                                                                    How
                                                                    many revisions will you offer?
                                                                </a>
                                                            </h2>
                                                        </div>
                                                        <div id="support6" class="panel-collapse collapse">
                                                            <div class="panel-body">We offer two rounds of
                                                                revisions. If you are not satisfied
                                                                with the final product, we’ll rewrite your
                                                                resume
                                                                free of charge.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
</section>